{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>
     <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profile_show') }}"><button>Retour</button></a>

   
{% endblock %}
