{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Création d'un nouveau commentaire</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>


    {{ include('admin_commentaire/_form.html.twig') }}

    <a href="{{ path('admin_commentaire_index') }}"><button>Retour à la liste</button></a> 
{% endblock %}
