{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>modifier la Categorie</h1>
     <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    {{ include('admin_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_categorie_index') }}"><button>Modifier</button></a> 

    {{ include('admin_categorie/_delete_form.html.twig') }}
{% endblock %}
