{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>contactez-nous<i class="far fa-address-card"></i> </h1>


{{form(formulaire)}}
{% endblock %}
