{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>bonjour {{nom}}</h1>
nous avons bien reçu votre message et nous vous recpntacterons à {{email}}

{% endblock %}
