{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>
    <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    {{ include('profile_article/_form.html.twig') }}

    <a href="{{ path('profile_article_index') }}"><button>Retour</button></a>


{% endblock %}
