{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle commande</h1>
     <style>

        body{
         background-color:#69a238;  
           
    }
    </style>

    {{ include('admin_commande/_form.html.twig') }}

    <a href="{{ path('admin_commande_index') }}"><button>Retour à la liste</button></a> 
{% endblock %}
